* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	float: right;
}

form{
	background-color: lightgray;
	margin: 20vh auto;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
form:hover{
	box-shadow: 0 3px 3px 3px rgba(0,0,0,0.2);
	transition: 0.3s;
}
form label:after {
	color: red;
	content: " *";
}
